
#pageUI.container-fluid
    .row
        .col-sm-3.col-md-2.sidebar
            file-tree(
                    :is-first='true',
                    :checked='false'
                    :structure='structure',
                    :click='selectFileClick',
                    :click-new='clickNewDir',
                    :context-click='createFileClick'
                    :dblclick-folder='delFolder'
                )
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            #editorWrapper(v-if='selectFile !== false')
                editor(
                        editor-id='editor',
                        :content='contentA',
                        :lang="fName.endsWith('.php')? 'php': (fName.endsWith('.js')? 'javascript': (fName.endsWith('.md')? 'markdown': 'json'))",
                        v-on:change-content='changeContentA'
                    )
            span(v-else='')
                //- Select file
                h1
                    a#Structure_for_development_api_0
                    | Structure for development api
                h2
                    a#How_to_use_2
                    | How to use
                ul
                    li Click on ‘NEW FOLDER’ for create new folder
                    li Right click on other folders and input new file name for create new file
                    li
                        | Click on file for open current file
                        ul
                            li Change file and click "Save" or ‘Ctrl + S’
                            li Click ‘DEL’ for delete file
                            li Click ‘X’ for close file
                            li Click ‘Try OPEN’ for try open link in new tab
                    li
                        | Extra:
                        ul
                            li Right cick on ‘NEW FOLDER’ for create file in root directory
                            li Double click on other folder for delete this directory
                            li For create foloder in folder: Right click on other folder type name with ‘.’
