
#pageUI.container-fluid
    .row
        .col-sm-3.col-md-2.sidebar
            file-tree(
                    :is-first='true',
                    :checked='false'
                    :structure='structure',
                    :click='selectFileClick',
                    :click-new='clickNewDir',
                    :context-click='createFileClick'
                    :dblclick-folder='delFolder'
                )
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            #editorWrapper(v-if='selectFile !== false', key='editorWrapper')
                editor(
                        editor-id='editor',
                        :content='fileContent',
                        :lang='lang',
                        v-on:change-content='changeFileContent'
                    )
            .jumbotron(v-else, key='jumbotron')
                include:replace(
                        from='src="/img/proxy.jpg"'
                        to='class="img-thumbnail" '
                        mode='add:before'
                    ):markdown-it ../../../../../README.md
